<!DOCTYPE html>
<html>

<head>
    <title>My App</title>
</head>

<body>
    <h1>Implementing MVC in NODE.js</h1>
    <% if (user) { %>
        <p>Hello <%= user.name %></p>
        <% } else { %>
            <a href="/login">Login</a>
            <% } %>
</body>

</html>